[submodule "k8s"]
	path = k8s
	url = https://github.com/highloadmipt/k8s
[submodule "userservice"]
	path = userservice
	url = https://github.com/highloadmipt/userservice
[submodule "expensewriter"]
	path = expensewriter
	url = https://github.com/highloadmipt/expensewriter
[submodule "website"]
	path = website
	url = https://github.com/highloadmipt/website
[submodule "expensereader"]
	path = expensereader
	url = https://github.com/highloadmipt/expensereader
[submodule "expensepublisher"]
	path = expensepublisher
	url = https://github.com/highloadmipt/expensepublisher
[submodule "load-tester"]
	path = load-tester
	url = https://github.com/highloadmipt/load-tester
