[submodule "k8s"]
	path = k8s
	url = https://github.com/robot-robotovich/k8s
[submodule "userservice"]
	path = userservice
	url = https://github.com/robot-robotovich/userservice
[submodule "expensewriter"]
	path = expensewriter
	url = https://github.com/robot-robotovich/expensewriter
[submodule "website"]
	path = website
	url = https://github.com/robot-robotovich/website
[submodule "expensereader"]
	path = expensereader
	url = https://github.com/robot-robotovich/expensereader
[submodule "expensepublisher"]
	path = expensepublisher
	url = https://github.com/robot-robotovich/expensepublisher
